@import "~antd/dist/antd.less";

// For the full set of variables https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@primary-color: #f6bc15;
@accent-1: #f58347;
@accent-2: #006f97;
@accent-black: #000;
@accent-white: #ffffff;
@font-primary: "Poppins";
@font-bold: "Poppins-Bold";
@font-semibold: "Poppins-SemiBold";

html {
  font-size: 100%;
}

section {
  overflow: hidden;
}

body {
  // overflow: auto;
  font-size: 14px;
  font-family: @font-primary;
  font-weight: 400;
  background: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  // line-height: 1;
  margin-bottom: 0.5em;
  line-height: 1.4;
  font-weight: 500;
}
h6 {
  font-size: 10px;
}
h5 {
  font-size: 14px;
}
h4 {
  font-size: 20px;
}
h3 {
  font-size: 24px;
}
h2 {
  font-size: 42px;
}
h1 {
  font-size: 60px;
}

a {
  color: @black;
  text-decoration: none;
  &:hover {
    color: @primary-color;
  }
}
.error {
  h1 {
    font-family: @font-bold;
    font-size: 36px;
  }
}

.wrap {
  max-width: 1040px;
  margin: 0 auto;
}

.ant-layout {
  background: #f8f8f8;
}

.cart {
  position: fixed;
  z-index: 999;
  bottom: 50px;
  right: 50%;
  transform: translateX(50%);
  p {
    margin-bottom: 0;
    top: -8px;
    position: absolute;
    z-index: 999;
    background: red;
    border-radius: 37px;
    width: 22px;
    text-align: center;
    color: #fff;
    left: -8px;
  }
  .cart__btn {
    line-height: 0;
    background-color: #298bfd;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    // transition: all 0.3s ease-out;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    height: 42px;
  }
}

#client__layout {
  .ant-layout-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 0;
    background: #ffffff;
    min-height: 77px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
    .main__header {
      max-height: 77px;
      h1 {
        font-size: 24px;
        font-family: @font-semibold;
        margin-bottom: 0;
        margin-top: 18px;
      }
      .logo {
        background-image: url("/img/logo.png");
        width: 68px;
        height: 42px;
        position: relative;
        margin-top: -5px;
        &::after {
          content: "";
          background: #fff;
          z-index: -1;
          position: absolute;
          width: 50px;
          height: 50px;
          left: 9px;
          border-radius: 50%;
          box-shadow: 0px 4px 10px rgb(0 0 0 / 3%);
        }
      }
    }
  }
  .ant-layout-content {
    margin-top: 150px !important;
  }
}

.search__box {
  margin-bottom: 50px;
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
  // background: #fff;
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
  }
  .name {
    border: none;
    height: 100%;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    padding-left: 25px !important;
    width: 100%;
    border-right: 1px solid #e5e5e5;
  }
  .type {
    width: 100%;
    border-right: 1px solid #e5e5e5;
  }
  .rarity {
    width: 100%;
    border-right: 1px solid #e5e5e5;
  }
  .set {
    .ant-select-selector {
      border-bottom-right-radius: 100px;
      border-top-right-radius: 100px;
    }
    width: 100%;
  }
}

.load__more {
  color: #1d1c1c;
  font-size: 20px;
  // background: #1d1c1c;
  height: 42px;
  // box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
  // border-radius: 25px;
  // min-width: 217px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.order__card {
  img {
    width: 77px;
    height: 106px;
    border-radius: 5px;
  }
  .order__content {
    h2 {
      font-family: @font-bold;
      font-size: 25px;
      line-height: 37px;
      color: #1d1c1c;
      margin-bottom: 0;
    }
    h5 {
      margin-bottom: 10px;
      color: #bfbfbf;
      font-size: 14px;
      span {
        color: #fd2929;
        font-size: 16px;
      }
    }
  }
  .price__item {
    p {
      font-size: 12px;
      font-family: @font-bold;
    }
    h5 {
      font-size: 16px;
      font-family: @font-bold;
      color: #298bfd;
    }
    .input__number {
      position: relative;
      input {
        width: 35px;
        border: none;
        font-size: 20px;
        color: #298bfd;
      }
      .up {
        border: none;
        position: absolute;
        top: -10px;
        color: #298bfd;
        right: 0;
        padding: 0;
        width: 15px;
        height: 15px;
        .anticon {
          svg {
            font-size: 12px;
          }
        }
      }
      .not__up {
        border: none;
        position: absolute;
        top: -10px;
        color: #e3e3e3;
        right: 0;
        padding: 0;
        width: 15px;
        height: 15px;
        .anticon {
          svg {
            font-size: 12px;
          }
        }
      }
      .not__down {
        border: none;
        position: absolute;
        bottom: 15px;
        color: #fd2929;
        right: 0;
        padding: 0;
        width: 15px;
        height: 15px;
        .anticon {
          svg {
            font-size: 12px;
          }
        }
      }
      .down {
        border: none;
        position: absolute;
        bottom: 15px;
        color: #298bfd;
        right: 0;
        padding: 0;
        width: 15px;
        height: 15px;
        .anticon {
          svg {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.product__card {
  min-width: 294px;
  min-height: 432px;
  margin-bottom: 80px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 194px;
    position: relative;
    z-index: 1;
  }
  .product__mask {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    padding-bottom: 25px;
    padding-top: 70px;
    margin-top: -60px;
    width: 294px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .product__content {
      max-width: 220px;
      margin: auto;
      text-align: center;
      h2 {
        font-family: @font-bold;
        font-size: 25px;
        line-height: 37px;
        color: #1d1c1c;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 5px;
        color: #0f6db0;
        font-size: 16px;
      }
      .price__item {
        display: flex;
        justify-content: space-around;
        div {
          margin-bottom: 10px;
          color: #6a6969;
          font-size: 20px;
        }
      }
    }
    .ant-btn {
      color: #1d1c1c;
      font-size: 20px;
      background: #fdce29;
      height: 42px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
      border-radius: 25px;
      min-width: 217px;
      position: absolute;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .order__selected__btn {
      background: #1d1c1c;
      font-size: 20px;
      color: #fff;
      height: 42px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
      border-radius: 25px;
      min-width: 217px;
      position: absolute;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.ant-modal-mask {
  background-color: transparent;
}
// .cart__btn{
//   &::before{

//   }
// }
.cart__modal {
  div:first-of-type{
    width: 100%;
  }
  .ant-modal-content {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
  }
  .ant-modal-close {
    top: auto;
    bottom: -6%;
    left: 50%;
    transform: translate(-50%, 10%);
  }
  .cart__cards {
    max-height: 400px;
    overflow-y: auto;
    padding-top: 20px;
  }
  .bg__space {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    );
  }
  .clear__all {
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    color: #bfbfbf;
    box-shadow: 0px -5px 5px rgb(233 229 229 / 25%);
    z-index: 999;
    position: relative;
    padding-top: 10px;
  }

  .total__price {
    // box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.07);
    padding-top: 30px;
    max-width: 220px;
    margin: 0 auto;
    .layout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 20px;
        color: #1d1c1c;
        font-family: @font-bold;
      }
      h4 {
        font-size: 16px;
        color: #1d1c1c;
        font-family: @font-bold;
      }
      p {
        font-family: @font-bold;
        color: #fd2929;
        font-size: 16px;
      }
      .lg {
        font-size: 20px !important;
      }
    }
    .ant-btn {
      color: #fff;
      font-size: 20px;
      background: #298bfd;
      height: 42px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
      border-radius: 25px;
      min-width: 217px;
    }
  }
}

@media (max-width: 375px) {
   .order__content {
    h2 {
      font-family: @font-bold;
      font-size: 10px;
      // line-height: 37px;
      color: #1d1c1c;
      margin-bottom: 0;
    }
    h5 {
      margin-bottom: 10px;
      color: #bfbfbf;
      font-size: 12px;
      span {
        color: #fd2929;
        font-size: 13px;
      }
    }
  }
  
}

@media (max-width: 767px) {
  .search__box {
    box-shadow: none;
    .name {
      border-radius: 100px;
      border-right: none;
    }
    .type {
      margin-top: 15px;
      .ant-select-selector {
        border-radius: 100px;
      }
      border-right: none;
    }
    .rarity {
      margin-top: 15px;
      .ant-select-selector {
        border-radius: 100px;
      }
      border-right: none;
    }
    .set {
      margin-top: 15px;
      .ant-select-selector {
        border-radius: 100px;
      }
      border-right: none;
    }
  }
}

.payment__modal {
  .ant-modal-content {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
  }
  .ant-modal-body {
    height: 400px;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }
  .ant-modal-close {
    top: auto;
    bottom: -6%;
    left: 50%;
    transform: translate(-50%, 10%);
  }

  .payment__success {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
